body {
    background-color: lightgray;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.everything {
    display: flex;
}

.searchButton {
    border-radius: 50%;
}

.logo {
    border-radius: 50%;
}

.coinInformation {
    display: flex;
    flex-flow: wrap;
}

.coinInfo {
    font-weight: 500;
    width: 175px;
    height: 175px;
    background-color: #368FF6;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin: 5px;
    border-radius: 10%;
    border-bottom: outset;
}

.coinInfo > p {
    margin: 0;
}

.search {
    display: flex;
    justify-content: center;
}

.tracked {
    Display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.appName {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 773px){
    .coinInfo{
        font-weight: 50;
    }
    .tracked {
        Display: flex;
        justify-content: left;
        font-weight: 200;
        font-size: small;
    }
}

